* {
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    display: grid;
    grid-template: 1% repeat(10, 1fr) 1% / 1fr 400px 1fr;
    width: 100vw;
}

.img_div {
    grid-area: 1 / 2 / 5 / -2;
    object-fit: fill;
    display: flex;
    align-items: center;
}

.hacker_img {
    width: 100%;
}

.header_words {
    grid-area: 5 / 2 / 6 / -2;
    text-align: center;
    font-size: 1.5em;
    line-height: 180%;
}

.hack_button {
    grid-area: 6 / 2 / 7 / -2;
    cursor: pointer;
}

.hack_info {
    grid-area: 7 / 2 / 9 / -2;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bait_words {
    grid-area: 9 / 2 / 10 / -2;
}

.form_div {
    grid-area: 10 / 2 / 12 / -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

form {
    width: 80%;
}

input {
    display: block;
    width: 100%;
}

h3 {
    display: inline-block;
}

.form_div.cover {
    background-color: white;
    z-index: 1;
}